<div class="container">
  <div class="row justrify-content-center my-4">
    <h1 class="font-weight-bold" style="font-size:90px">About<h1>
  </div>

  <div class="row iustify-content-center">
    <p class="text-center" style="font-size: 25px;">
    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りまでお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。
    </p>
  </div>

  <div class="row justify-content-right">
    <p class="text-right" style="font-size: 25px;">
      製作者：新藤 光朔
    </p>
  </div>

</div>

