<div class="about-section">
  <!-- 円のレイアウト -->
  <div class="circle top-left">住替</div>
  <div class="circle top-right">購入</div>
  <div class="circle bottom-left">売却</div>
  <div class="circle bottom-right">相続</div>

  <!-- 中央のコンテンツ -->
  <div class="content">
    <h1 class="title">Iekakuについて</h1>
    <p class="description">
      私たち四輪不動産は不動産売却、購入における悩みや相談を<br>
      質問形式で回答するサイト「iekaku」を作成しました。<br>
      このサイトでは、匿名での質問やチャットが可能です。<br>
      お気軽にご質問くださいませ。
    </p>
  </div>
</div>



