<div class="container mt-4">
  <div class="text-center mb-5">
    <h1 class="position-relative d-inline-block px-4 py-2 bg-light border border-dark rounded shadow-lg">
      <span class="text-dark fw-bold">会員一覧</span>
    </h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <% @users.each do |user| %>
        <div class="user-item border-bottom mb-3 pb-2">
          <h3>
            <%= link_to user.nickname, admin_user_path(user) %>
          </h3>
          <p>
            <%= user.email %>
          </p>
        </div>
      <% end %>

      <div class="d-flex justify-content-center">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>
